/* ===== Dropdown menu ===== */

/* Dropdown Button */
.dropbtn {
	height: auto;
    background-color: #4CAF50;
    /*padding: 16px;*/
    margin-bottom: 0.25rem;
    font-size: 0.8em;
    border: 1px solid;
    border-right: 4px solid;
    border-bottom: 6px solid;
    border-radius: 0px;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    height: 60px;
    position: relative;
    display: inline-block;
    z-index: 999;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: 90%;
    background-color: #f9f9f9;
    font-size: 0.9em;
    border: 1px solid;
    border-right: 4px solid;
    border-bottom: 6px solid;
    z-index: 999;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    z-index: 999;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}